canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

div { 
	position: absolute; 
	bottom: 10px; 
	right: 10px; 
	background: #a9b1d699;
	padding: 0.1em 1em;
}

html, body {margin: 0; height: 100%; overflow: hidden}

